<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="NavegadorDefault" value="Chrome"/>
		<add key="Local" value="true"/>
		<add key="PageLoadTimeout" value="500" />
		<add key="Username" value="thais.dias"/>
		<add key="Password" value="thais15"/>
		<add key="WrongUsername" value="thais.dias2"/>
		<add key="WrongPassword" value="thais1534"/>	
		<add key="URL" value="http://mantis-prova.base2.com.br/"/>
		<add key="MeuProjeto" value="Thaís Dias´s Project"/>
		<add key="TodosProjetos" value="All Projects"/>
		<add key="Realname" value="Thais Rodrigues Carvalho Dias"/>
	</appSettings>
</configuration>